<module>
	<rawname>weakpasswords</rawname>
	<repo>standard</repo>
	<name>Weak Password Detection</name>
	<version>2.9.0.1</version>
	<publisher>Schmoozecom.com</publisher>
	<license>GPLv2</license>
	<category>Admin</category>
	<changelog>
		*2.9.0.1* #4914
		*2.9.0.0* 2.9 Update
	</changelog>
	<depends>
		<version>2.5.0</version>
	</depends>
	<description>This module detects weak SIP secrets and sets security notifications accordingly
	</description>
	<menuitems>
		<weakpasswords>Weak Password Detection</weakpasswords>
	</menuitems>
	<location>release/2.9/weakpasswords-2.9.0.1.tgz</location>
	<md5sum>84c107e5e7c16b84b04b7a8839d942ae</md5sum>
</module>
