<module>
	<rawname>weakpasswords</rawname>
	<name>Weak Password Detection</name>
	<version>2.5.0.2</version>
	<type>tool</type>
	<category>System Administration</category>
	<changelog>
		*2.5.0.2* changes to warning msg, moved to Tools tab, System Administration
		*2.5.0.1* Consolidated individual security notices to a single notice with all details in extended text
		*2.5.0.0* Initial release
	</changelog>
	<depends>
		<version>2.5.0</version>
	</depends>
	<description>This module detects weak SIP secrets and sets security notifictions accordingly
	</description>
	<menuitems>
		<weakpasswords>Weak Password Detection</weakpasswords>
	</menuitems>
	<location>release/2.6/weakpasswords-2.5.0.2.tgz</location>
	<md5sum>78813c6862ab3f471ee0dbda1de10da1</md5sum>
</module>
